.posts-page {
  margin: 50px;
}

.create-post-dialog {
  width: 25%;
  height: 53%;
}

.header-input {
  margin-bottom: 2px;
  text-align: left;
  width: 77%;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 8px;
}

.field-value,
.body-input {
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.body-input {
  height: 100px;
}

.p-dialog-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.p-field {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin: auto;
}

.actions {
  display: flex;
  height: 50px;
  margin: auto;
  margin-bottom: 25px;
}

.p-button-create-post {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 130, 5);
  border: none;
  border-radius: 8px;
}

.p-datatable {
  width: 100%;
}

.p-datatable thead th {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.p-datatable tbody td {
  border: 1px solid #ddd;
}

.p-button-rounded {
  margin: 0;
}

.p-paginator {
  margin-top: 15px;
}
